body{
	font-family:'Quattrocento', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight:700;
}


.divider{
	border-bottom:1px solid #000;
	margin-bottom:10px;
}

#formal{
	padding:30px 0 60px;
}
#formal h4{
	margin:0;
}
h4 .subtitle{
    font-size: 16px;
    font-weight: 400;
    font-style:italic;
}
.date-range{
	font-weight:bold;
	float:right;
}