{% extends 'base.html.twig' %}

{% block title %} {{ pagetitle }} {% endblock %}

{% block body %}
	
	{% set current_url = app.request.uri|replace({'http://': ''}) %}
	{% set base_url = app.request.getSchemeAndHttpHost() %}
    
    <div class="resume" id="formal">
    	<div class="container-fluid">
			<div class="container" style="max-width:800px;">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1>Michael Victory Trieu</h1>
						{% for key,value in address %}
							{% if loop.last %}
								<span class="right_divider">{{ value }}</span>
							{% else %}
								<span class="right_divider">{{ value }} |</span>
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<h2>Skills</h2>
						<ul>
							<li>
								Experienced in  
								<a href="" target="_blank">PHP</a>, 
								<a href="" target="_blank">AngularJS</a>,
								<a href="" target="_blank">Typescript</a>,
								<a href="" target="_blank">Javascript/jQuery</a>, 
								<a href="" target="_blank">AJAX</a>, 
								<a href="" target="_blank">MySQL</a>, 
								<a href="" target="_blank">Java</a>, 
								<a href="" target="_blank">WordPress</a>, 
								<a href="view-source:{{ current_url }}" target="_blank">HTML</a>, 
								<a href="{{ base_url }}{{ asset('assets/css/style.css') }}" target="_blank">CSS</a>,
								CURL, 
								<a href="" target="_blank">XML</a>, 
								<a href="" target="_blank">JSON</a>, 
								<a href="" target="_blank">Git</a>, LAMP Stack, Cent OS, C-Panel & WHM, Subversion, FTP, Google Analytics, Responsive Design, Twitter Bootstrap, Terminal (Bash/Shell)
							</li>
							<li>Computer literate in Windows PC, Mac OS, and Ubuntu Linux</li>
						</ul>
					</div>
				</div>

				<div class="row experience">
					<div class="col-xs-12">
						<h2>Experience</h2>
						<div class="row">
							<div class="col-xs-12">
								<h4>FortuneBuilders, <span class="subtitle">San Diego, CA</span></h4>
								<span>PHP Developer</span>
								<span class="date-range">February 2015 - Current</span>
								<div class="divider"></div>
								<ul>
									<li>
										Learned to use debugging tools such as Chrome Debugger, Browserstack and VM ware to ensure cross-browser compatibility across multiple platforms including Google Chrome, Firefox, Safari & Internet Explorer
									</li>
									<li>
										Familiarized myself with Git and Subversion to keep track of project updates and changes
									</li>
									<li>
										Educated myself about MVC to build on top of our internal API platform implemented with the Symfony Framework
									</li>
								</ul>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<h4>Turn-Key Systems, <span class="subtitle">San Diego, CA</span></h4>
								<span>LAMP Developer</span>
								<span class="date-range">August 2014 - February 2015</span>
								<div class="divider"></div>
								<ul>
									<li>
										Build, improve and maintain new and current web applications (front-end & back-end)
									</li>
									<li>
										Integrate applications with 3rd-party API’s (examples include Infusionsoft, Mailchimp, Paypal, etc)
									</li>
									<li>
										Set up funnels  for A/B split testing
									</li>
								</ul>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<h4>Onescreen, <span class="subtitle">Irvine, CA</span></h4>
								<span>Software Engineer/Web Developer</span>
								<span class="date-range">August 2012 - December 2013</span>
								<div class="divider"></div>
								<ul>
									<li>
										Worked with creative graphic designers on transforming page mockups into WordPress theme templates for our company website, as well as client websites using a combination of HTML, CSS, PHP, Javascript/jQuery, AJAX, MySQL, and Twitter Bootstrap for both front-end and back-end work 
									</li>
									<li>
										Engineered WordPress plugins for both internal and external use, such as Google apps authenticator, Onescreen video, Podio integration, and other consumer applications using PHP to call Onescreen API and Google’s API to retrieve XML and JSON data for processing 
									</li>
									<li>
										Interacted daily with project managers and account managers to assess client needs and set up weekly sprints to meet client deadlines
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<h2>Education</h2>
						<h4>University of California, Irvine</h4>
						<span>Bachelors in Information & Computer Science</span>
						<span class="date-range">June 2012</span>
						<h4 style="margin-top:10px;">Relevant Coursework</h4>
						<p>
							Computer Programming, Software Engineering, Software Design, Database Design, Data Management, Web Applications, Algorithm, Cryptology, Calculus, Boolean Algebra, and Statistical Data Analysis
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<a href="https://drive.google.com/file/d/0B6ld_AUmycvkOEJZUGp0OFhld2c/view?usp=sharing" target="_blank">Print/Share as PDF</a>
					</div>
				</div>

			</div>
		</div>
    </div>

{% endblock %}

{% block javascripts %}
	
{% endblock %}