<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %} Home | MVT {% endblock %}</title>

        <!-- Essentials -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,400italic,700' rel='stylesheet' type='text/css'> -->
        <link href='https://fonts.googleapis.com/css?family=Quattrocento:400,700|Quattrocento+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}

        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
